*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
}
#burg{
	background-color: #383838;
	width: 240px;
	padding: 10px;
	position: fixed;
	left: -260px;
	margin-top: 20px;
	transition: all 1s;
	z-index: 999999;
}
#burg.left{
	left: 0px;
	transition: all 1s;
}
#burg h3{
	text-align: center;
	color: white;
	margin: 10px;
	font-size: 40px;
}
#burg a{
	color: white;
}
#burg p{
	margin-left: 10px;
	font-size: 20px;
}
.ln{
	width: 20px;
	border-radius: 5px;
	height: 5px;
	background-color: black;
	margin: 2px;
}
#btn{
	background-color: #D0D0D0;
	padding: 10px;
	justify-content: center;
	top: 20px;
	left: 20px;
	position: fixed;
	transition: all 1s;
}
#btn:hover{
	background-color: #343434;
}
#btn:hover .ln{
	background-color: white;
}
#btn.left-btn{
	left: 280px;
	transition: all 1s;
}
.slider-cont{
	flex-basis: 33%;
}
.slider{
	width: 600px;
	height: 400px;
	border: 2px solid  black;
	margin: 30px auto;
	overflow: hidden;
}
.slider-line{
	height: 400px;
	width: 1800px;
	display: flex;
	position: relative;
	left : 0;
	transition: all ease 1s;
}
.cont{
	display: flex;
	justify-content: center;
}
.next{
	display: flex;
	flex-basis: 10%;
	justify-content: center;
	align-items: center;
}
.prev{
	display: flex;
	flex-basis: 10%;
	align-items: center;
	justify-content: center;
}
.slider-next{
	border: none;
	font-size: 100px;
	cursor: pointer;
	margin-left: 20px;
	background-color: white;
}
.slider-prev{
	background-color: white;
	border: none;
	font-size: 100px;
	cursor: pointer;
	margin-right: 20px;
}
.full{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
img{
	object-fit: contain;
}
.text{
	font-size: 30px;
}
.headder{
	padding: 10px;
	background-color: black;
	color:white;
	font-size: 30px;
	text-align: center;
	width: 100%;
}
.headder span{
	font-size: 20px;
}
a{
	color:white;
}
a.head:hover{
	color:white;
	text-decoration: underline;
}
.ws{
	margin-right: 20px;
}
.form{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}
input{
	text-align: center;
	width: 304px;
	height: 44px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
	font-size: 20px;
}
select{
	text-align: center;
	width: 304px;
	height: 44px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
	font-size: 20px;
}
.form h1{
	margin-bottom: 10px;
	color: #0071FF;
}
.form-bt{
	margin-top: 10px;
	color: white;
	background-color: #0071FF;
	border-radius: 5px;
	width: 304px;
	text-align: center;
	cursor: pointer;
}
.form-bt h2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.a-h{
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}
.flex{
	display: flex;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	font-size: 20px;
	background-color: aqua;
}
.logo img{
	display: flex;
}
.menu{
	width: 60%;
	display: flex;
	justify-content: space-between;
}
.dropdown{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 350px;
	background-color: aqua;
	position: absolute;
	visibility: hidden;
	z-index: 9999999;
}
.dropdown > span{
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-top: 1px white solid;
	padding: 10px;
	display: flex;
}
.flex a{
	display: flex;
	align-items: center;
	position: relative;
}
.logo:hover .dropdown{
	visibility: visible;
}
.text-a h1{
	margin: 10px;
}
.text-b{
	display: flex;
	justify-content: center;
}
.text-a{
	margin: 20px;
	border: 6px dashed white;
	box-shadow: 6px 6px 5px white;
}
.text-a:hover{
	margin: 20px;
	background-color: black;
	border: 6px dashed red;
    border-radius: 5px;
    box-shadow: 6px 6px 5px teal;
    cursor: pointer;
    transition-duration: 0.5s;
}
.text-a:hover h1{
	color: rgba(0, 255, 0, 1);
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px red, 0 0 5px white, 0 0 10px white;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
.text-u{
	width: 100%;
	text-align: center;
}