*{
  margin: 0px;
  padding: 0px;
}
.header{
  font-size: 20px;
  font-family: cursive;
  border-radius: 10px;
  text-align: center;
  background-color: #D7FF6E;
  margin: 1em;
  padding: 10px;
}
.box{
  margin-left: 1em;
  margin-right: 1em;
  background-color: #A6FF6E;
  border-radius: 10px;
  text-align: center;
  transition-duration: 0.3s;
  padding: 10px;
}
.row1{
  font-family: cursive;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 1em;
  align-items: flex-start;
  flex-flow: row wrap;
}
.footter{
  font-size: 20px;
  font-family: cursive;
  border-radius: 10px;
  text-align: center;
  background-color: #D7FF6E;
  margin: 1em;
  padding: 10px;

}
.box:hover{
  transition-duration: 0.3s;
  background-color: #29F905;
  padding: 20px;

}
table{
  border-color: black;
  border-collapse: collapse;
  border-width: : 1px;
}
.burg{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.input{
  display: hidden;
  background-color: black;
  border-radius: 10px;
}
.burg:focus-within .input{
  display: visible;
  padding: 5px;
}
.burg1{
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.burg:focus-within .fide{
  visibility: visible;
}
.burg:focus-within{
  visibility: visible;
  color:black;
}
.burg:focus-within .burg1{
  visibility: visible;
  width: 100px;
  height: 100%;
  background-color: white;
  color: black;
}
.burg1_head{
  visibility: hidden;
  width: 0px;
  height: 0px;
  border-radius: 5px;
}
.burg:focus-within .burg1_head{
  visibility: visible;
  width: 100px;
  height: 100%;
  background-color: #FFFFFF;
  color: black;
}
.pl{
  margin-top: 2px;
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: black;
}
