*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
img{
	object-fit: contain;
}
.head{
	display: flex;
	width: 100%;
	height: 4em;
	background-color: #221f1f;;
	align-items: center;
	position: fixed;
	z-index: 999;
}
.head-img{
	width: 3.6em;
	height: 3.6em;
}
.ln{
	background-color: #fff;
	width: 2em;
	margin: 0.4em;
	border-radius: 5em;
	padding: 0.1em;
}
#burg-bt{
	margin-right: 2em;
	margin-left: 0.5em;
	cursor: pointer;
}
#burgbd{
	top: 0em;
	height: 200vh;
	width: 20em;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	transition: all 1s;
}
.left{
	left: -20em;
	transition: all 1s;
}
.burg-bd-hd{
	display: flex;
	justify-content: center;
}
.burg-bd-hd-img{
	width: 10em;
	height: 10em;
}
.burg-bd-bd a{
	color: black;
	font-size: 2em;
}
.burg-bd-bd p{
	margin: 0.5em;
}
.burg-bd-hd-img-close{
	width: 2em;
	height: 2em;
}
#burgrgba{
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 200vh;
	position: absolute;
}
.close{
	position: absolute;
	left: 3.7em;
	cursor: pointer;
	left: 18em;
}
.vh{
	visibility: hidden;
}
.vv{
	visibility: visible;
}
a{
	text-decoration: none;
}
.head-info{
	display: flex;
	align-items: center;
	width: 100%;
}
.logo{
	flex-basis: 20%
}
.head-info-src{
	flex-basis: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input-src{
	width: 15em;
	height: 2.5em;
	text-align: left;
	border: none;
	border-radius: 0.4em;
	font-size: 1em;
}
.find-img{
	width: 3em;
	height: 3em;
}
.find{
	cursor: pointer;
}
.body{
	width: 100%;
	height: 100vh;
}	
.row{
	position: relative;
	top: 4em;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.row-last{
	margin-bottom: 7em;
}
.block{
	flex-basis: 18%;
	background-color: #B3B3B3;
	border: 0.1em solid black;
	border-radius: 2em;
	padding: 1em;
	margin-top: 1em;
}
.block p{
	font-size: 1em;
}
.block h2{
	font-size: 2em;
}
.block-img{
	width: 100%;
	height: 15em;
}
.footter{
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 5em;
	background-color: #221f1f;;
	align-items: center;
	color: white;
	font-size: 1.5em;
}